.containerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  

 .containerPanelControl {
    flex: 1;
    min-width: 55%;
}
  

h1{
    text-align: center;
    font-size: 1.625rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #6C63FF;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    flex: 1;
  }

.search input{
    border: none;
    width: 100%;
}

.search input::placeholder{
    color: #C3C1E5
}
.searchButton{
    cursor: pointer;
    display: flex;
    background: none;
    align-items: center;
}

/*.filter{
    height: 100%;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    color: white;
    background-color: #6C63FF;
    cursor: pointer;
    padding: 10px;
}

.option{
    cursor: pointer;
    background-color: #f7f7f7;
    color: #6c63ff;
    font-weight: bold;
    border-radius: 8px;
}
*/

.colorButton{
    background: none;
    height: 100%

}

.select__control--is-focused {
    box-shadow: none !important;
    outline: none !important;
  }

  .select__input {
    outline: none !important;
    box-shadow: none !important;
  }